@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
}
/* 
.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .7);
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* background-color: var(--bg-color); */
  /* color: var(--text-color); */
}

/* ================ HEADER SECTION STYLE ================= */

.hero {
  padding: 1rem 7%;
  background: #fff7f2;
}

.hero h3 {
  font-size: 1.5rem;
}

.navbar {
  padding: 2rem 7%;
  background: #fff;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 10;
}

.header-nav .div-links {

}

.navbar .navbar-links a {
  position: relative;
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
  margin-right: 3.5rem;
  text-decoration: none;

}

.navbar .navbar-links a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: #f60;
}

.navbar .navbar-controls {
  /* display: flex; */
}

.navbar-controls .theme-toggle {
  background: #fff;
  border: none;
}

.theme-toggle svg {
  font-size: 2.4rem;
  color: #000;
  cursor: pointer;
  padding: .2rem;
}
.menu-toggle {
 display: none;
}

.menu-toggle svg {
  font-size: 2.7rem;
  color: #000;
}

/* =============== HOME SECTION STYLE =============== */

.home {
  background-image: url(/images/bg-pattern.png);
  background-color: #47529e;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  padding: 8rem 12%;
  justify-content: space-between;
}

.home .home-content {
  max-width: 45rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-size: 700;
  line-height: .3;
  color: #fff;

}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: .3rem;
  color: #fff;
}

.home-content p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: #fff;
  border: .2rem solid #f60;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem #000;
  font-size: 2rem;
  color: #f60;
  margin: 2.5rem 1.5rem 3rem 0;

  transition: .5s ease;
}

.home-content .social-media a:hover {
  background: #f60;
  color: #fff;
}

.home-content .btn-cv {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: #f60;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: .1rem;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #f60;
  text-decoration: none;

  transition: .5s ease;
}

.home-content .btn-cv:hover {
  background: #f60;
  color: #fff;
  border-color: #f90;
}

.home .picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container img {
  width: 40rem;
  height: 40rem;
}

/* ============================ ABOUT SECTION STYLE =========================== */

.about {
  padding: 4rem 7%;

}

span {
  color: #f60;
}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-img img {
  width: 25vw;
  background: var(--bg-color);
  /* border-radius: 2rem; */
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  /* padding: 1rem; */
  /* border: .8rem solid var(--main-color); */
  /* border-bottom: .8rem solid var(--main-color); */
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.about-content p span {
  font-weight: 500;
}

.about-content .about-link {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.about-content .about-link a {
  clip-path: polygon(12px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12px);

  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.22rem 8rem;
  background: #47529e;
  color: #fff;
  font-weight: 600;

  cursor: pointer;
}

.about-content .about-link a:hover {
  background: #f60;
}

/* =============== PROYECTS SECTION STYLE =============== */

.proyects {
  padding: 4rem 7%;
  background: #fff7f2;
}

.proyects h2 {
  font-size: 4.5rem;
  text-align: center;
}

/*----- grid -----*/

.proyects .proyects-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.proyects-container .proyects-grid {
  width: 50%;
  height: 550px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "element1 element1 element2 element2"
  "element1 element1 element2 element2"
  "element3 element3 element3 element3"
  "element3 element3 element3 element3"
  ;
  gap: 2rem;
}

.proyects-grid .proyects-slide {
  display: flex;
  padding: 2rem;
  background: #fff;
  gap: 2rem;
}

.proyects-grid .proyects-slide .div-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.proyects-grid .proyects-slide .div-img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.proyects-grid .item-1 {
  grid-area: element1;
  flex-direction: column;
}

.proyects-grid .item-2 {
  grid-area: element2;
  flex-direction: column;
}

.proyects-grid .item-3 {
  grid-area: element3;
}

.proyects-grid .item-3 .div-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}



/* @media (min-with:700px){

  .proyects-container .proyects-grid {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "element1 element1 element1"
    "element2 element2 element2"
    "element3 element3 element3"
    ;
    gap: 2rem;
  }
  
} */

/*----- grid-info -----*/

.proyects-container .proyects-info {
  background: #fff;
  padding: 2rem 4rem;

}

.proyects-info .proyects-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.proyects-content ul {
  list-style: none;
  padding-left: 0;

}

.proyects-content ul li {
  font-size: 1.4rem;
  padding-left: 2rem;
  text-indent: -2.5rem;
  line-height: 1.6;
}

.proyects-content ul li svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.proyects-info h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}

/*--- grid-info-technologies ---*/

.proyects-content .technologies {
  display: flex;
  margin-right: auto;
  gap: 10px;
}

.technologies .technologies-icons {
  display: flex;
  border-radius: 2px;
  padding: 4px 8px;
  background: #d6d2d2;
  gap: 10px;
}

.technologies-icons svg {
  font-size: 1.5rem;
}

.technologies-icons p {
  font-size: 1.2rem;
}

.technologies-icons:nth-child(1) {
  color: red;
}  

.technologies-icons:nth-child(2) {
  color: blue;
}  

.technologies-icons:nth-child(3) {
  color: yellow;
}  

.technologies-icons:nth-child(4) {
  color: #8B4513;
} 

.technologies-icons:nth-child(5) {
  color: #339AF0;
} 

.proyects-content a {
  display: inline-block;
  padding: 1.2rem 15.8rem;
  background: #f60;
  align-self: flex-start;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border: 2px solid #f60;
  margin-top: 5rem;

  transition: .5s ease;
}

.proyects-content a:hover {
  background: rgb(230, 92, 1);
}

/* ============================== SKILLS SECTION STYLE =======================================  */

.skills {
  padding: 4rem 7%;
  background: #fff;
}

.skills .skills-category {
  margin-top: 2rem;
}

.skills h3 {
  color: #000; 
  font-size: 2rem;
  border-left: 5px solid #f60;
  padding-left: 15px;
}

/* ------ skill-grid ------ */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: auto;
  padding: 2rem;
  margin-top: 4rem;
}

.hex-wrapper {
  filter: drop-shadow(0 4px 8px rgba(50, 50, 93, 0.12));

  pointer-events: none; /* evita que capte el hover */
  position: relative;
  overflow: visible;
}

.hex {
  width: 120px;
  aspect-ratio: 1;
  background-color: #fff;
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );

  pointer-events: auto; /* solo el hexágono capta el hover */

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.hex-content {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 80%;
  left: 50%;
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
}

.hex-wrapper:hover .tooltip {
  opacity: 1;
}

.hex-wrapper:hover {
  z-index: 10;
}

.hex-content svg {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 0.5rem;
}

.skills-grid > .hex-wrapper {
  margin-top: -18px;
}

.skills-grid > .hex-wrapper:nth-child(n+7):nth-child(-n+12) {
  transform: translateX(60px);
}


/* ------ frontend ------ */

.skills-grid > .hex-wrapper:nth-child(1) svg { 
  color: #E34F26; 
}

.skills-grid > .hex-wrapper:nth-child(2) svg { 
  color: #264de4; 
}

.skills-grid > .hex-wrapper:nth-child(3) svg { 
  color: #f7df1e; 
}

.skills-grid > .hex-wrapper:nth-child(4) svg { 
  color: #61dafb; 
}

.skills-grid > .hex-wrapper:nth-child(5) svg { 
  color: #563d7c; 
}

/* ------ backend ------ */

.skills-grid > .hex:nth-child(1) svg { 
  color: #8B4513; 
}

.skills-grid > .hex:nth-child(2) svg { 
  color: #6db33f; 
}

.skills-grid > .hex:nth-child(3) svg { 
  color: #00758f; 
}


/* ------ otros ------ */

.skills-grid > .hex:nth-child(1) svg { 
  color: #2496ED; 
}

.skills-grid > .hex:nth-child(2) svg { 
  color: #326CE5; 
}

.skills-grid > .hex:nth-child(3) svg { 
  color: #85EA2D; 
}

.skills-grid > .hex:nth-child(4) svg { 
  color: #00758f; 
}

.skills-grid > .hex:nth-child(5) svg { 
  color: #181717; 
}

.skills-grid > .hex:nth-child(6) svg { 
  color: #181717 
}
.skills-grid > .hex:nth-child(7) svg { 
  color: #000; 
}
.skills-grid > .hex:nth-child(8) svg { 
  color: #007ACC; 
}


/* =============== CONTACT SECTION STYLE ===============  */

.contact {
  padding: 4rem 7%;
  background: #fff7f2;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-cont {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  align-items: flex-start;
}

.contact form span {
  color: red;
}

.contact form .div-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border: none;
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .5rem var(--main-color);
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
  border: none;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  outline: none;
}

.contact form .btn {
  display: inline-block;
  padding: .7rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--main-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5s ease;

  margin-top: 2rem;
  cursor: pointer;
}

.contact form .btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

/* =============== FOOTER SECTION STYLE ===============  */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer-text p {
  font-size: 1.5rem;
  color: var(--white-color);
}

.footer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  background: var(--white-color);
  border-radius: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent; 
  transition: .5s ease;
} 

 .footer button:hover {
  outline-color: var(--white-color);
  cursor: pointer;
}

/* ============================  COURSES PAGE =========================== */

.main-courses-page {
  padding: 2rem 7%;

}
/* ---------- course-list -----------*/

.course-list {

}

.course-list h2 {
  font-size: 3rem;
}

.course-list .course-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 6rem;
}

/* Fondo oscuro del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  align-items: center;    /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  z-index: 100;
  animation: fadeIn 0.3s ease;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 80rem;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: slideUp 0.3s ease;
}

/* Cerrar (X) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  padding: .5rem;
}

/* Imagen del certificado */
.certi-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ---------- course-card -----------*/

.course-card {
  display: flex;
  border: 1px solid #d1d2e0;
  padding: 1rem;
  gap: 4rem;
}

.course-card .course-content {
  flex: 1;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.course-content .course-image {
  width: 100%;
  max-width: 30rem;
  height: auto;
  object-fit: cover;
}

.course-content .course-info {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.course-content .course-info .course-title {
  font-size: 1.6rem;
  color: #303141;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}

.course-content .course-subtittle {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
  color: #303141;
  /* white-space: nowrap; */
}

.course-content .course-info .course-instructor {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
  /* color: #e2e8f0; */
  color: #707070;
}

.course-content .certi-button {
  padding: .8rem;
  font-size: 1.6;
  font-weight: 400;
}

.course-card .course-description {
  flex: 2;
}

.course-description h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

.course-description ul {
  margin-top: 1.5rem;
  list-style: none;
}

.course-description li {
  display: flex;
  gap: 1rem;
  align-items: center;
  
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.4rem;
  color: #303141;

}


/* =============== BREACKPOINTS =============== */

/* @media (max-width: 1230px) {
  html {
    font-size: 55%;
  }

  .home .profesion-container .profesion-box {
    right: -9rem;
  } 

  .home .profesion-container .overlay {
    right: -9rem;
  }

  .home .circle {
    top: -9rem;
  }

  .home .profesion-box .profesion {
    left: 59px;
  }   
}

@media (max-width: 1180px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 8rem 3% 0rem;
  }

  .home .profesion-container .profesion-box {
    right: -15rem;
  }

  .home .profesion-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 980px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: .7;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profesion-container .profesion-box {
    right: -40rem;
  }

  .home .profesion-container .overlay {
    right: -36.5rem;
  }

  .proyects-wrapper .proyects-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
} */

/* @media (max-width: 800px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: -.3rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }  

  .navbar a.active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 30%;
    justify-content: center;
    text-align: center;
  }

  .home .profesion-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profesion-container .profesion-box {
    top: 60%;
    left: 0;
    border-radius: 0;
    width: 100%;
  }

  .home .profesion-box .profesion {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profesion-box .profesion:nth-child(1) {
    transform: rotate(90deg) translate(-120px, -210px);
  }

  .home .profesion-box .profesion:nth-child(1) svg {
    margin-right: 0;
  }

  .home .profesion-box .profesion:nth-child(2) {
    transform: rotate(0deg) translate(0, -230px);
  }

  .home .profesion-box .profesion:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -400px);
  }

  .home .profesion-box .profesion:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profesion-box .circle {
    top: 68%;
    z-index: -1;
  }

  .home .profesion-container .overlay {
    top: 90%;
    left: 48.7%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }
} */

/* @media (max-width: 740px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
  }

  .about-img img {
    width: 60vw;
    margin-top: -2rem;
  }
} */

/* @media (max-width: 530px) {
  .skills {
    min-height: 120vh;
  }

  .front-div {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* @media (max-width: 450px) {
  html {
    font-size: 50%;
  }

    #darkMode-icon {
      right: 6rem;
    }

    .home {
      padding: 0 3% 24rem;
    }

    .home .profesion-box .circle {
      width: 430px;
      height: 430px;
    }

    .home .profesion-box .profesion:nth-child(2) {
      padding-bottom: 0px;
      transform: rotate(0deg) translate(0, -212px);
    }

    .proyects-slide .technologies {
      display: flex;
      flex-wrap: wrap;
    }

    .contact form .input-box input {
      width: 100%;
    }

    .contact form .input-cont {
      width: 100%;
    }
} */

/* @media (max-width: 404px) {
  .about-img img {
    width: 80vw;
  }

  .home .home-content h1 {
    font-size: 5.5rem;
  }
} */

/* @media (max-width: 380px) {
  .home .profesion-box .circle {
    width: 400px;
    height: 400px;
  }

  .home .profesion-box .profesion:nth-child(2) {
    padding-bottom: 0px;
    transform: rotate(0deg) translate(0, -200px);
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 1.2rem;
  }


} */