/* Poppins-fonts */
/* ============================================================ */

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Custom properties */
/* ============================================================ */

:root[data-theme="light"] {
  --bg-primary: #eff0f3;
  --bg-secondary: #fffffe;

  --bg-home: #47529e;
  --bg-header: #eff0f3;
  --bg-footer: #eff0f3;
  --bg-card: #fffffe;
  --bg-card-tag: #eff0f3;

  --color-primary: #0d0d0d;
  --color-secondary: #6b7280;
  --color-accent: #f60;

  --color-error: #ef4444;
  --color-success: #10b981;

  --color-text-primary: #0d0d0d;
  --color-text-secondary: #6b7280;
  --color-text-inverted: #2a2a2a;

  --button-primary-bg: #0d0d0d;
  --button-primary-text: #fffffe;
  --button-primary-border: #0d0d0d;

  --button-primary-bg-hover: #f60;
  --button-primary-text-hover: #fffffe;
  --button-primary-border-hover: #f60;

  --button-secondary-bg: #fffffe;
  --button-secondary-text: #f60;
  --button-secondary-border: #f60;

  --button-secondary-bg-hover: #f60;
  --button-secondary-text-hover: #fffffe;
  --button-secondary-border-hover: #f60;

  --icon-socials-bg: #eff0f3;
  --icon-socials-svg-color: #f60;

  --icon-socials-bg-hover: #f60;
  --icon-socials-svg-color-hover: #fffffe;
}

:root[data-theme="dark"] {
  --bg-primary: #0f0e17;
  --bg-secondary: #242629;

  --bg-home: #47529e;
  --bg-header: #eff0f3;
  --bg-footer: #0f0e17;
  --bg-card: #242629;
  --bg-card-tag: #0f0e17;

  --color-primary: #fffffe;
  --color-secondary: #94a1b2;
  --color-accent: #f60;

  --color-error: #ef4444;
  --color-success: #10b981;

  --color-text-primary: #fffffe;
  --color-text-secondary: #94a1b2;
  --color-text-inverted: #cacddc;

  --button-primary-bg: #f60;
  --button-primary-text: #fffffe;
  --button-primary-border: #f60;

  --button-primary-bg-hover: #f60;
  --button-primary-text-hover: #fffffe;
  --button-primary-border-hover: #f60;

  --button-secondary-bg: #242629;
  --button-secondary-text: #f60;
  --button-secondary-border: #f60;

  --button-secondary-bg-hover: #f60;
  --button-secondary-text-hover: #fffffe;
  --button-secondary-border-hover: #f60;

  --icon-socials-bg: #0f0e17;
  --icon-socials-svg-color: #f60;

  --icon-socials-bg-hover: #f60;
  --icon-socials-svg-color-hover: #fffffe;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  margin: 0;
  font-size: 4.5rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: 600;
}

span {
  color: var(--color-accent);
}


/* Hero */
/* ============================================================ */

.hero {
  padding: 1rem 12%;
  background: var(--bg-secondary);
}

.hero h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 500;
}

/* Navbar */
/* ============================================================ */

.header {
  padding: 2rem 12%;
  background: var(--bg-primary);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 10;
}

.header .logo {
  display: flex;
  align-items: center;
  width: 4.5rem;
} 

.header .logo img {
  width: 100%;
  height: auto;
}

.header .header-div {
  display: flex;
  align-items: center;
}

.header-div .navbar-links {
  display: flex;
  gap: 3.5rem;
  margin-right: 3.5rem;
}

.header-div .navbar-links a {
  position: relative;
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 400;
  text-decoration: none;

}

.header-div .navbar-links a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.3rem;
  background: #f60;
}

#theme-icon {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color: var(--bg-primary);
  cursor: pointer;
  color: var(--color-primary);
}

#menu-icon {
  font-size: 3.5rem;
  cursor: pointer;
  color: var(--color-primary);

  display: none;
}

/* Home */
/* ============================================================ */

.home {
  /* background-image: url(/images/bg-pattern.png); */
  background-color: var(--bg-primary);
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  padding: 8rem 12%;
  justify-content: space-between;
}

.home .home-content {
  max-width: 45rem;
}

.home-content p {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-secondary);

}

.home-content h2 {
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

.home-content h1 {
  font-size: 4.7rem;
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1;
}

.home-content .social-media {
  margin: 2.5rem 0 3rem 0;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border: .2rem solid #f60;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem #000;
  font-size: 2rem;
  color: var(--icon-socials-svg-color);
  margin-right: 1.5rem;

  transition: .5s ease;
  background: var(--icon-socials-bg);
}

.social-media a svg {
  background: transparent;
}

.home-content .social-media a:hover {
  background: var(--icon-socials-bg-hover);
  color: var(--icon-socials-svg-color-hover);
}

.home-content .btn-cv {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--button-primary-bg);
  font-size: 1.6rem;
  color: var(--button-primary-text);
  letter-spacing: .1rem;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid var(--button-primary-border);
  text-decoration: none;
  cursor: pointer;

  transition: transform .3s ease;
}

.home-content .btn-cv:hover {
  background: var(--button-primary-bg-hover);
  color: var(--button-primary-text-hover);
  border-color: var(--button-primary-border-hover);
  transform: scale(1.05);
}

.home .picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container img {
  max-width: 100%;
  width: 40rem;
  height: auto;
}

/* About */
/* ============================================================ */

.about {
  padding: 8rem 12%;
  background: var(--bg-secondary);

}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.about-img img {
  width: 25vw;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  
}

.about-content h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

.about-content p {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  margin-top: 2rem;
  color: var(--color-text-secondary);
}

.about-content p span {
  font-weight: 500;
}

.about-content .about-link {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.about-content .about-link a {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.2rem 8rem;
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  border: 1px solid var(--button-secondary-border);
  border-radius: 3px;
  font-weight: 600;

  cursor: pointer;
  transition: .5s ease;
}

.about-content .about-link a:hover {
  background: var(--button-secondary-bg-hover);
  color: var(--button-secondary-text-hover);
  border-color: var(--button-secondary-border-hover);
}

/* Projects */
/* ============================================================ */

.proyects {
  padding: 8rem 12%;
  background: var(--bg-primary);
}

.proyects .proyects-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  
  gap: 2rem;
}

.proyects-container .proyects-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--bg-card);
  gap: 2rem;
  border-radius: 3px;
}

.proyects-container .proyects-card .div-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.proyects-container .proyects-card .div-img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.proyects-card .card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-body .card-title {
  font-size: 1.8rem;
  color: var(--color-text-primary);
  font-weight: 500;
}

.card-body .card-text {
  font-size: 1.4rem;
  color: var(--color-text-secondary);
  font-weight: 400;
}

.card-body .technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.technologies .technologies-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  background-color: var(--bg-card-tag);
}

.card-body .proyects-link {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background: #f60;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 3px;

  transition: transform .3s ease;
}


.card-body .proyects-link:hover {
  transform: scale(1.05);
}

/*card-1-icons*/
.technologies .icons-1:nth-child(1) {
  color: #61dafb; 
} 

.technologies .icons-1:nth-child(2) {
  color: #764ABC; 
} 

.technologies .icons-1:nth-child(3) {
  color: #f89820;
}  

.technologies .icons-1:nth-child(4) {
  color: #6DB33F;
}  

.technologies .icons-1:nth-child(5) {
  color: #00758F; 
} 


/*card-2-icons*/ 
.technologies .icons-2:nth-child(1) {
  color: #61dafb; 
} 

.technologies .icons-2:nth-child(2) {
  color: #f89820;
} 

.technologies .icons-2:nth-child(3) {
  color: #6DB33F;
}

.technologies .icons-2:nth-child(4) {
  color: #6DB33F
;
}  

/*card-3-icons*/
.technologies .icons-3:nth-child(1) {
  color: #E34F26; 
}  

.technologies .icons-3:nth-child(2) {
  color: #264de4;
}  

.technologies .icons-3:nth-child(3) {
  color: #f7df1e;
}  

.technologies .icons-3:nth-child(4) {
  color: #61dafb; 
} 

.technologies .icons-3:nth-child(5) {
  color: #f89820;
} 


/* Skills */
/* ============================================================ */

.skills {
  padding: 8rem 12%;
  background: var(--bg-secondary);
}

.skills .skills-category {
  margin-top: 2rem;
}

.skills h3 {
  color: var(--color-text-primary); 
  font-size: 2.2rem;
  font-weight: 500;
  border-left: 5px solid #f60;
  padding-left: 15px;
}

/* ------ skill-grid ------ */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 120px);

  grid-template-rows: auto;
  padding: 2rem;
  margin-top: 4rem;

  max-width: 820px;
}

.hex-wrapper {
  filter: drop-shadow (0 5px 10px -5px rgb(0 0 0 / 30%));

  pointer-events: none;
  position: relative;
  overflow: visible;

  width: 120px;
  aspect-ratio: 1;
}

.hex-border {
  position: absolute;
  inset: 0;
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
  background-color: var(--color-text-secondary);
  z-index: 0;
}

.hex {
  width: 120px;
  aspect-ratio: 1;
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );

  pointer-events: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  background-color: var(--bg-secondary);
  z-index: 1;
  width: 98%;
  height: 98%;
  margin: 1%;

}

.tooltip {
  position: absolute;
  bottom: 80%;
  left: 60%;
  background: var(--bg-secondary);
  color: var(--color-text-secondary);
  padding: .6rem 1.2rem;
  border-radius: 3px;
  border: 1px solid var(--color-text-secondary);
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
}

.hex-wrapper:hover .tooltip {
  opacity: 1;
}

.hex-wrapper:hover {
  z-index: 10;
}

.hex svg {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 0.5rem;
}

.hex-wrapper.offset {
  margin-left: 60px;
}

.skills-grid > .hex-wrapper {
  margin-top: -16px;
}


/* .skills-grid > .hex-wrapper:nth-child(n+7) {
  transform: translateX(60px);
} */

/*------------------*/



/* ------ frontend ------ */

.skills-category .front > .hex-wrapper:nth-child(1) svg {
  color: #E34F26; 
}

.skills-category .front > .hex-wrapper:nth-child(2) svg {
  color: #264de4; 
}

.skills-category .front > .hex-wrapper:nth-child(3) svg {
  color: #f7df1e; 
}

.skills-category .front > .hex-wrapper:nth-child(4) svg {
  color: #61dafb; 
}

.skills-category .front > .hex-wrapper:nth-child(5) svg {
  color: #563d7c; 
}


/* ------ backend ------ */

.skills-category .backend > .hex-wrapper:nth-child(2) svg {
  color: #6db33f; 
}

/* ------ others ------ */

.skills-category .others > .hex-wrapper:nth-child(1) svg {
  color: #2496ED; 
}

.skills-category .others > .hex-wrapper:nth-child(2) svg {
  color: #326CE5; 
}

.skills-category .others > .hex-wrapper:nth-child(3) svg {
  color: #85EA2D; 
}

.skills-category .others > .hex-wrapper:nth-child(4) svg {
  color: #EF5B25; 
}

.skills-category .others > .hex-wrapper:nth-child(5) svg {
  color: #181717; 
}

.skills-category .others > .hex-wrapper:nth-child(6) svg {
  color: #181717 
}

.skills-category .others > .hex-wrapper:nth-child(7) svg {
  color: #000; 
}

.skills-category .others > .hex-wrapper:nth-child(8) svg {
  color: #007ACC; 
}

/* Contact */
/* ============================================================ */

.contact {
  padding: 8rem 12%;
  background: var(--bg-primary);
}

.contact .contact-container {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

.contact .contact-container > * {
  flex: 1;
}

.contact-container .contact-social-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  gap: 4rem;
}

.contact-social-media .linkedin-link {
  max-width: 100%;
  padding: 2rem;
  background: #2D6EAE;
  border-radius: 3px;
}

.contact-container .linkedin-link svg {
  max-width: 60%;
  height: auto;
}

.contact-social-media .github-link {
  max-width: 100%;
  padding: 2rem;
  background: #181717 ;
}

.contact-social-media .github-link svg {
  max-width: 60%;
  height: auto;
}

/*----- form ----- */

.contact-container .form {
  max-width: 100%;
  padding: 6rem;
  background: var(--bg-secondary);
  text-align: left;
  border-radius: 3px;

  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.contact-container .form .form-container {
  display: grid;
  gap: 4rem;
}

.form-container .input-box {
  position: relative;
  color: var(--color-text-secondary);
}

.input-box input {
  width: 100%;
  background: none;
  color: var(--color-text-secondary);
  font-size: 1.6rem;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-text-secondary);
  font-family: 'Poppins', sans-serif;
}

.input-box input:focus + .form-label,
.input-box input:not(:placeholder-shown) + .form-label {
  transform: translateY(-15px) scale(1);
  transform-origin: left top;
  color: #2496ED;
}

.input-box input:focus {
    border-bottom: 1px solid #2496ED;
}

.input-box .form-label {
  color: var(--color-secondary);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

.form-container .input-box .form-error {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-error);
  font-weight: 400;
}

.form-container .form-button {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.2rem 8rem;
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid var(--button-primary-border);
  border-radius: 3px;
  font-weight: 600;
  border: none;
  margin-top: 2rem;

  cursor: pointer;
  transition: transform .3s ease;
}

.form-container .form-button:hover {
  background: #f60;
  transform: scale(1.05);
}

.form-container .success-message {
  font-size: 1.2rem;
  color: var(--color-success);
}

.form-container .error-message {
  font-size: 1.2rem;
  color: var(--color-error);
}

/* Footer */
/* ============================================================ */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 12%;
  background: var(--bg-footer);

  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12%;
  right: 12%;
  height: 3px;
  background: #f60;
}

.footer-text p {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.footer .footer-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background: #f60;
  border-radius: 6px;
  border: none;
  transition: transform .3s ease;
} 

.footer .footer-button svg {
  font-size: 2rem;
  color: var(--color-primary);
}

 .footer .footer-button:hover {
  background: var(--button-primary-bg-hover);
  color: var(--button-primary-text-hover);
  border-color: var(--button-primary-border-hover);
  cursor: pointer;
  transform: scale(1.05);
}

/* Courses page */
/* ============================================================ */

.main-courses-page {
  padding: 2rem 12%;
  background: var(--bg-primary);
}

/* ---- course-list ---- */

.main-courses-page .course-list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.course-list-nav h2 {
  font-size: 3rem;
  margin: 0;
  font-size: 4.5rem;
  color: var(--color-primary);
  font-weight: 600;
}

.course-list-nav a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

.course-list-nav a:hover {
  color: #f60;
}

.main-courses-page .course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 2rem;
  margin-top: 2rem;
  border-radius: 3px;

  width: 100%;
  box-sizing: border-box;
}

/* ---------- course-card -----------*/

.course-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  background: var(--bg-card);
  border-radius: 3px;
}


.course-card .course-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.course-card .course-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-card .course-info .course-title {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}

.course-card .course-subtittle {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
  color: var(--color-text-inverted);
}

.course-card .course-info .course-instructor {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
  color: var(--color-text-secondary);
}

.course-card .certi-button {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.2rem;
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  border: 1px solid var(--button-secondary-border);
  border-radius: 3px;
  font-weight: 600;

  cursor: pointer;
  transition: .5s ease;
}

.course-card .certi-button:hover {
  background: var(--button-secondary-bg-hover);
  color: var(--button-secondary-text-hover);
  border-color: var(--button-secondary-border-hover);
}

/* Fondo oscuro del modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 80rem;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: slideUp 0.3s ease;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  padding: .5rem;
}

.certi-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ============================================================ */
/* BREACKPOINTS */
/* ============================================================ */


@media (max-width: 1200px) {

  html {
    font-size: 55%;
  }
}  

@media (max-width: 1180px) {

  .hero {
    padding: 1rem 8%;
  }

  .header {
    padding: 2rem 8%;
  }

  .home, .about, 
  .proyects, .skills,
  .contact {
    padding: 8rem 8%;
  }

  .footer {
    padding: 2rem 8%;
  }

  .footer::before {
    top: 0;
    left: 8%;
    right: 8%;
  }

}

@media (max-width: 980px) {

  .hero {
    padding: 1rem 3%;
  }

  .header {
    padding: 2rem 3%;
  }

  .home, .about, 
  .proyects, .skills,
  .contact {
    padding: 8rem 3%;
  }

  .footer {
    padding: 2rem 3%;
  }

  .contact .contact-container {
    gap: 4rem;
  }

  .contact-container .contact-social-media {
    gap: 4rem;
  }

  .footer::before {
  top: 0;
  left: 3%;
  right: 3%;
  }
  
}

/*------------------------------------*/

@media (max-width: 800px) {

  #menu-icon {
    display: flex;
    align-items: center;
  }

  #theme-icon {
    margin-right: 1rem;
  }

  .header-div .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-primary);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    display: none;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-links a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--color-text-primary);
  }

  .navbar-links a.active {
    color: var(--color-accent);
  }

  .navbar-links a::before {
    display: none;
  }

  .home {
    display: flex;
    justify-content: center;
    text-align: center;
  }

 .home .picture-container {
  display: none;
 }

 .proyects .proyects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .skills-grid {
    grid-template-columns: repeat(5, 120px);
    justify-content: center;
  }

  .contact .contact-container {
    gap: 2rem;
  }

  .contact-container .contact-social-media {
    gap: 2rem;
  }

}

@media (max-width: 740px) {
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-img img {
    width: 45vw;
    margin-top: 2rem;
  }

  .contact .contact-container {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
    .skills-grid {
      grid-template-columns: repeat(3, 120px);
  }
}

@media (max-width: 570px) {
 .proyects .proyects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
    .skills-grid {
      grid-template-columns: repeat(2, 120px);
  }
}

/* @media (max-width: 450px) {
  html {
    font-size: 50%;
  }

    #darkMode-icon {
      right: 6rem;
    }

    .home {
      padding: 0 3% 24rem;
    }

    .home .profesion-box .circle {
      width: 430px;
      height: 430px;
    }

    .home .profesion-box .profesion:nth-child(2) {
      padding-bottom: 0px;
      transform: rotate(0deg) translate(0, -212px);
    }

    .proyects-slide .technologies {
      display: flex;
      flex-wrap: wrap;
    }

    .contact form .input-box input {
      width: 100%;
    }

    .contact form .input-cont {
      width: 100%;
    }
} */

/* @media (max-width: 404px) {
  .about-img img {
    width: 80vw;
  }

  .home .home-content h1 {
    font-size: 5.5rem;
  }
} */

/* @media (max-width: 380px) {
  .home .profesion-box .circle {
    width: 400px;
    height: 400px;
  }

  .home .profesion-box .profesion:nth-child(2) {
    padding-bottom: 0px;
    transform: rotate(0deg) translate(0, -200px);
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 1.2rem;
  }


} */