@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
}
/* 
.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .7);
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* background-color: var(--bg-color); */
  /* color: var(--text-color); */
}

/* ================ HEADER SECTION STYLE ================= */

.hero {
  padding: 1rem 7%;
  background: #fff7f2;
}

.hero h3 {
  font-size: 1.5rem;
}

.navbar {
  padding: 2rem 7%;
  background: #fff;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 10;
}

.header-nav .div-links {

}

.navbar .navbar-links a {
  position: relative;
  font-size: 1.5rem;
  /* color: var(--white-color); */
  font-weight: 500;
  margin-right: 3.5rem;
  text-decoration: none;

}

/* .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 2rem 7%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: .5s;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

.navbar a {
  position: relative;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
  text-decoration: none;
}

.navbar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.header.sticky .navbar a.active::before {
  background: var(--main-color);
  opacity: .7;
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

#menu-icon {
  font-size: 2.7rem;
  color: var(--text-color);
  display: none;
}

.header.sticky #darkMode-icon {
  color: var(--text-color);
  opacity: .9;
} */

/* =============== HOME SECTION STYLE =============== */

/* section {
  min-height: 100vh;
  padding: 8rem 7% 0rem;
} */

.home {
  background-image: url(/images/bg-pattern.png);
  background-color: #47529e;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  padding: 4rem 7%;
}

.home .home-content {
  max-width: 45rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-size: 700;
  line-height:.3;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem #000;
  font-size: 2rem;
  color: #339AF0;
  margin: 2.5rem 1.5rem 3rem 0;

  transition: .5s ease;
}

.home-content .social-media a:hover {
  background: #00ff0d;
  color: #00758f;
}

.home-content .btn-cv {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: #00758f;
  border-radius: 6px;
  box-shadow: 0 .2rem .5rem #000;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;

  transition: .5s ease;
}

.home-content .btn-cv:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

/* .home .profesion-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.home .profesion-container .profesion-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 100vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .profesion-box .profesion {
  position: absolute;
  left: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 325px;
  background: var(--bg-color);
  padding: 13px 0;
} */

/* 
.home .profesion-box .profesion:nth-child(2),
.home .profesion-box .profesion:nth-child(4) {
  padding-bottom: 20px;
}

.home .profesion svg {
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.home .profesion h3 {
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .circle {
  width: 487px;
  height: 487px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profesion-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: calc(100vh / 2) solid var(--main-color);
  border-right: 375px solid var(--main-color);
  border-bottom: calc(100vh /2) solid var(--main-color);
  border-left: 375px solid transparent
} */

/* ============================ ABOUT SECTION STYLE =========================== */

span {
  color: var(--main-color);
}

.about {
  padding: 4rem 7%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  /* background: red; */
}

.about-img img {
  width: 30vw;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  padding: 1rem;
  border: .8rem solid var(--main-color);
  /* border-bottom: .8rem solid var(--main-color); */
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-content h2 {
  text-align: left;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.about-content .about-link {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.about-content .about-link a {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 6rem;
  background: #181717;
  color: #fff;
}

/* =============== PROYECTS SECTION STYLE =============== */

.proyects .proyects-box {
  /* position: relative; */
  max-width: 100%;
  padding: 2rem 0 0;
}

.proyects-wrapper .proyects-content {
  display: flex;
  gap: 30px;
}

.proyects-content .proyects-slide {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: var(--bg-color);
   border-radius: 2rem;
   box-shadow: 0 .1rem .5rem var(--shadow-color);
   padding: 3rem 5rem;
   border-top: .8rem solid var(--main-color);
   border-bottom: .8rem solid var(--main-color);
}

.proyects-slide h3 {
  font-size: 2.5rem;
  color: var(--main-color);
}

.proyects-slide .text-content {
  width: 100%;
  content: initial;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.proyects-slide .technologies {
  display: flex;
  margin-right: auto;
  gap: 10px;
}

.proyects-slide .technologies-icons {
  display: flex;
  border-radius: 2px;
  padding: 4px 8px;
  background: #d6d2d2;
  gap: 10px;
}

.proyects-slide .technologies svg {
  font-size: 1.5rem;
}

.proyects-slide .technologies span {
  font-size: 1.2rem;
}

.proyects-slide .technologies-icons:nth-child(1) {
  color: red;
}  

.proyects-slide .technologies-icons:nth-child(2) {
  color: blue;
}  

.proyects-slide .technologies-icons:nth-child(3) {
  color: yellow;
}  

.proyects-slide .technologies-icons:nth-child(4) {
  color: #8B4513;
} 

.proyects-slide .technologies-icons:nth-child(5) {
  color: #339AF0;
} 

.proyects-slide .proyect-link {
  width: 100%;
  background: var(--main-color);
  text-align: center;
  padding: .8rem;
  border-radius: 4px;
  margin-top: 3rem;
}

.proyects-slide .proyect-link a {
  font-size: 1.6rem;
  color: var(--white-color);
}

/* ============================== SKILLS SECTION STYLE =======================================  */

/* .skills-content {
  width: 100%;
  height: 35vw;
  margin: auto;
  background-color: red;
} */

.skills h3 {
  color: var(--text-color); 
  font-size: 2rem;
  border-left: 5px solid var(--main-color);
  padding-left: 15px;
  margin: 21px 0 21px 0;
}

.front-div {
  margin: auto;
  display: flex;
  gap: 20px;
}

.back-div {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.other-div {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.f-item {
  width: 80px;
  height: 80px; 
  /* color: red; */
  font-size: 6rem;
  display: flex; /* Es para activar los de abajo*/
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(117, 78, 249, 5);
}

/* ------ frontend ------ */

.front-div .html-icon {
  color: red;
}

.front-div .css-icon {
  color: blue;
}

.front-div .js-icon {
  color: yellow;
}

.front-div .boostrap-icon {
  color: purple;
}

.front-div .react-icon {
  color: #339AF0;
}

/* .java-icon {
  font-family: 'Font Awesome 5 Fre';
  color: #0fa2eb;
} */

/* ------ backend ------ */

.java-icon {
  color: #8B4513; /* Color para la base (café) */
}

.java-icon::before {
  color: #00ff0d; /* Color para el fuego */
}

.back-div .siSpring-icon {
  color: #6db33f;
}

 .back-div .nodeJs-icon {
  color: #339933;
}

.back-div .siMySql-icon {
  color: #00758f
}

.back-div .siSpringSecurity-icon {
  color: #6db33f;
}

/* ------ otros ------ */

.other-div .docker-icon {
  color: #2496ED;
}

.other-div .siKuberenetes-icon {
  color: #326CE5;
}

.other-div .siSwagger-icon {
  color: #85EA2D;
}

.other-div .gitHub-icon {
  color: #181717
}

.other-div .siIntellijidea-icon {
  color: #000;
}

.other-div .siVisualStudioCode-icon {
  color: #007ACC;
}

/* =============== CONTACT SECTION STYLE ===============  */

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-cont {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  align-items: flex-start;
}

.contact form span {
  color: red;
}

.contact form .div-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border: none;
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .5rem var(--main-color);
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
  border: none;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  outline: none;
}

.contact form .btn {
  display: inline-block;
  padding: .7rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--main-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5s ease;

  margin-top: 2rem;
  cursor: pointer;
}

.contact form .btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

/* =============== FOOTER SECTION STYLE ===============  */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer-text p {
  font-size: 1.5rem;
  color: var(--white-color);
}

.footer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  background: var(--white-color);
  border-radius: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent; 
  transition: .5s ease;
} 

 .footer button:hover {
  outline-color: var(--white-color);
  cursor: pointer;
}

/* ============================  COURSES PAGE =========================== */

.main-courses-page {
  padding: 2rem 7%;

}
/* ---------- course-list -----------*/

.course-list {

}

.course-list h2 {
  font-size: 3rem;
}

.course-list .course-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 6rem;
}

/* Fondo oscuro del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  align-items: center;    /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  z-index: 100;
  animation: fadeIn 0.3s ease;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 80rem;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: slideUp 0.3s ease;
}

/* Cerrar (X) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  padding: .5rem;
}

/* Imagen del certificado */
.certi-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ---------- course-card -----------*/

.course-card {
  display: flex;
  border: 1px solid #d1d2e0;
  padding: 1rem;
  gap: 2rem;
}

.course-card .course-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30rem;

}

.course-content .course-image {
  width: 100%;
  object-fit: cover;
}

.course-content .course-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.course-content .course-info .course-title {
  font-size: 1.6rem;
  color: #303141;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

.course-content .course-subtittle {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
  color: #303141;
  /* white-space: nowrap; */
}

.course-content .course-info .course-instructor {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
  color: #303141;
}

.course-content .certi-button {
  padding: .8rem;
  font-size: 1.6;
  font-weight: 400;
}

.courseCard .course-description {

}

.course-description h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

.course-description ul {
  margin-top: 1.5rem;
  list-style: none;
}

.course-description li {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
  color: #303141;

}


/* =============== BREACKPOINTS =============== */

/* @media (max-width: 1230px) {
  html {
    font-size: 55%;
  }

  .home .profesion-container .profesion-box {
    right: -9rem;
  } 

  .home .profesion-container .overlay {
    right: -9rem;
  }

  .home .circle {
    top: -9rem;
  }

  .home .profesion-box .profesion {
    left: 59px;
  }   
}

@media (max-width: 1180px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 8rem 3% 0rem;
  }

  .home .profesion-container .profesion-box {
    right: -15rem;
  }

  .home .profesion-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 980px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: .7;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profesion-container .profesion-box {
    right: -40rem;
  }

  .home .profesion-container .overlay {
    right: -36.5rem;
  }

  .proyects-wrapper .proyects-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
} */

/* @media (max-width: 800px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: -.3rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }  

  .navbar a.active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 30%;
    justify-content: center;
    text-align: center;
  }

  .home .profesion-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profesion-container .profesion-box {
    top: 60%;
    left: 0;
    border-radius: 0;
    width: 100%;
  }

  .home .profesion-box .profesion {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profesion-box .profesion:nth-child(1) {
    transform: rotate(90deg) translate(-120px, -210px);
  }

  .home .profesion-box .profesion:nth-child(1) svg {
    margin-right: 0;
  }

  .home .profesion-box .profesion:nth-child(2) {
    transform: rotate(0deg) translate(0, -230px);
  }

  .home .profesion-box .profesion:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -400px);
  }

  .home .profesion-box .profesion:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profesion-box .circle {
    top: 68%;
    z-index: -1;
  }

  .home .profesion-container .overlay {
    top: 90%;
    left: 48.7%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }
} */

/* @media (max-width: 740px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
  }

  .about-img img {
    width: 60vw;
    margin-top: -2rem;
  }
} */

/* @media (max-width: 530px) {
  .skills {
    min-height: 120vh;
  }

  .front-div {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* @media (max-width: 450px) {
  html {
    font-size: 50%;
  }

    #darkMode-icon {
      right: 6rem;
    }

    .home {
      padding: 0 3% 24rem;
    }

    .home .profesion-box .circle {
      width: 430px;
      height: 430px;
    }

    .home .profesion-box .profesion:nth-child(2) {
      padding-bottom: 0px;
      transform: rotate(0deg) translate(0, -212px);
    }

    .proyects-slide .technologies {
      display: flex;
      flex-wrap: wrap;
    }

    .contact form .input-box input {
      width: 100%;
    }

    .contact form .input-cont {
      width: 100%;
    }
} */

/* @media (max-width: 404px) {
  .about-img img {
    width: 80vw;
  }

  .home .home-content h1 {
    font-size: 5.5rem;
  }
} */

/* @media (max-width: 380px) {
  .home .profesion-box .circle {
    width: 400px;
    height: 400px;
  }

  .home .profesion-box .profesion:nth-child(2) {
    padding-bottom: 0px;
    transform: rotate(0deg) translate(0, -200px);
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 1.2rem;
  }


} */